body {
    background-color: pink;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.item {
    background-color: white;
    transition: background-color 0.3s;
}

.grid {
    width: 960px;
    height: 960px;
}